<a href="https://colab.research.google.com/github/RIT20/Novartis--Hack-Detection/blob/master/novartis_clsf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train=pd.read_csv('/content/drive/My Drive/6a62a5b4967411ea.zip (Unzipped Files)/Dataset/Train.csv')
test=pd.read_csv('/content/drive/My Drive/6a62a5b4967411ea.zip (Unzipped Files)/Dataset/Test.csv')
sample_subm = pd.read_csv('/content/drive/My Drive/6a62a5b4967411ea.zip (Unzipped Files)/Dataset/sample_submission.csv')

In [ ]:
print("train Shape", train.shape)
print("test Shape", test.shape)
print("sample subm shape",sample_subm.shape)

train Shape (23856, 18)
test Shape (15903, 17)
sample subm shape (7, 2)

In [ ]:
# train.head()
train['MULTIPLE_OFFENSE'].value_counts()

1    22788
0     1068
Name: MULTIPLE_OFFENSE, dtype: int64

In [ ]:
train_x=train.drop(['INCIDENT_ID', 'DATE', 'MULTIPLE_OFFENSE'], axis=1)
test_x=test.drop(['INCIDENT_ID', 'DATE'], axis=1)

In [ ]:
train_x.head()

   X_1  X_2  X_3  X_4  X_5  X_6  X_7  ...  X_9  X_10  X_11  X_12  X_13  X_14  X_15
0    0   36   34    2    1    5    6  ...    6     1   174   1.0    92    29    36
1    1   37   37    0    0   11   17  ...    6     1   236   1.0   103   142    34
2    0    3    2    3    5    1    0  ...    3     1   174   1.0   110    93    34
3    0   33   32    2    1    7    1  ...    6     1   249   1.0    72    29    34
4    0   33   32    2    1    8    3  ...    5     1   174   0.0   112    29    43

[5 rows x 15 columns]

In [ ]:
train_x.shape

(23856, 15)

In [ ]:
test_x.shape

(15903, 15)

In [ ]:
test_x.head()

   X_1  X_2  X_3  X_4  X_5  X_6  X_7  ...  X_9  X_10  X_11  X_12  X_13  X_14  X_15
0    0   30   35    7    3    6    4  ...    5     1   174   NaN    72   119    23
1    0   44   44    1    3    7    1  ...    6     1   316   0.0    12    29    34
2    0   34   33    3    5    2    7  ...    0     1   316   1.0    72     0    34
3    7    3    2    3    5    9    8  ...    5     1   174   1.0   112    87    34
4    0    7    8    7    3    2    7  ...    5     1   174   0.0   112    93    43

[5 rows x 15 columns]

In [ ]:
# Handling missing values for training set
train_x.replace([np.inf, -np.inf], np.nan, inplace=True)
train_x.fillna(0, inplace=True)

# Handling missing values for testing set
test_x.replace([np.inf, -np.inf], np.nan, inplace=True)
test_x.fillna(0, inplace=True)

train_x.shape

(23856, 15)

In [ ]:
train_x['X_12'] = train_x['X_12'].apply(lambda x: int(x))

test_x['X_12'] = test_x['X_12'].apply(lambda x: int(x))

In [ ]:
# test_x.replace([np.inf, -np.inf], np.nan, inplace=True)
# test_x.fillna(0, inplace=True)

In [ ]:
# test_x['X_12']=test_x['X_12'].apply(lambda x: int(x))

In [ ]:
# test_x.shape

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler().fit(train_x)
#train_scaled = scaler.transform(train_x)
#test_scaled=scaler.transform(test_x)

In [ ]:
# import numpy as np
# np.any(np.isnan(train_x))
# np.all(np.isfinite(train_x))

print(train_scaled.shape)
print(test_scaled.shape)

NameError: ignored

In [ ]:
train.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  X_13  X_14  X_15  MULTIPLE_OFFENSE
0   CR_102659  04-JUL-04    0   36  ...    92    29    36                 0
1   CR_189752  18-JUL-17    1   37  ...   103   142    34                 1
2   CR_184637  15-MAR-17    0    3  ...   110    93    34                 1
3   CR_139071  13-FEB-09    0   33  ...    72    29    34                 1
4   CR_109335  13-APR-05    0   33  ...   112    29    43                 1

[5 rows x 18 columns]

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

rf.fit(X, y)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import svm
X = train_x
y = train['MULTIPLE_OFFENSE']

x_train, x_test, y_train, y_test=train_test_split(X,y, test_size=0.3 , random_state=22, stratify=y)
#clf=svm.SVC(kernel='linear')
#clf.fit(x_train, y_train)
#y_pred=clf.predict(x_test)

forest = RandomForestClassifier()
forest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred_test = forest.predict(x_test)

In [ ]:
accuracy_score(y_test, y_pred_test)

0.9910577057426296

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = StandardScaler() 
# data_scaled = scaler.fit_transform(test_x)
# print(data_scaled.mean(axis=0))
# print(data_scaled.std(axis=0))

In [ ]:
preds = rf.predict(test_x)
# print(preds)
SAMPLE_SUBMISSION= pd.DataFrame({'INCIDENT_ID': test['INCIDENT_ID'], 'MULTIPLE_OFFENSE': preds})

In [ ]:
# print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.97      0.82      0.89       320
           1       0.99      1.00      1.00      6837

    accuracy                           0.99      7157
   macro avg       0.98      0.91      0.94      7157
weighted avg       0.99      0.99      0.99      7157

In [ ]:
# print(len(preds))
# print(test_scaled.shape)
# print(SAMPLE_SUBMISSION)

In [ ]:
sample_subm=pd.read_csv('/content/drive/My Drive/6a62a5b4967411ea.zip (Unzipped Files)/Dataset/sample_submission.csv')
sample_subm.head()

  INCIDENT_ID MULTIPLE_OFFENSE
0   CR_195453                1
1   CR_103520                0
2           .                .
3           .                .
4   CR_196089                1

In [ ]:
SAMPLE_SUBMISSION.head(20)

   INCIDENT_ID  MULTIPLE_OFFENSE
0    CR_195453               1.0
1    CR_103520               1.0
2    CR_196089               1.0
3    CR_112195               1.0
4    CR_149832               1.0
5     CR_81654               1.0
6    CR_139009               1.0
7      CR_6108               1.0
8     CR_62283               1.0
9      CR_5710               1.0
10   CR_188972               1.0
11    CR_74490               1.0
12    CR_21774               1.0
13    CR_82685               1.0
14   CR_188343               1.0
15   CR_104212               1.0
16    CR_49142               1.0
17     CR_7923               1.0
18   CR_106361               0.0
19   CR_153593               1.0

In [ ]:
SAMPLE_SUBMISSION['MULTIPLE_OFFENSE'] = np.where(SAMPLE_SUBMISSION['MULTIPLE_OFFENSE'] < 1, 0, 1)
SAMPLE_SUBMISSION['MULTIPLE_OFFENSE'].value_counts()

1    14932
0      971
Name: MULTIPLE_OFFENSE, dtype: int64

In [ ]:
SAMPLE_SUBMISSION.to_csv("submission_v1.csv", index = False)